.title2 {
    text-align: center;
}

.text {
    margin-left: 20px;
    font-weight: bolder;
}

.contato-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    align-content: center;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 10px;
}

.container-item {
    background-color: aqua;
    width: auto;
    height:auto;
}


