.title2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #001F54;
}

iframe {
    border-radius: 15px;
    width: 95%;
    height: 200px;
    margin-right: 100px;
    box-shadow: 10px 0px 20px 2px rgba(0,0,0,0.2);
}

.main { 
    text-align: left;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.title {
    font-size: 45px;
    margin-top: 20px;
}

.contato-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: fit-content;
    align-items: center;
    background-color: #FEFCFB;
    border-radius: 30px;
    padding: 30px;
}

.container-item {
    width: 50%;
    height: auto;
    padding: 15px;
}

.div-redes {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

form input, label, textarea, button {
    font-family: Montserrat-Medium;
}

form label {
    font-weight: bolder;
    color: #001F54;}

form input, textarea {
    border-radius: 5px;
    border: none;
    background-color: #E8E8E8;
    margin-top: 9px;
    font-size: 13px;
    color: #001F54;
    min-width: 100%;
    max-width: 100%;
    height: 35px;
}

form input, textarea ::selection {
    border: none;
}

form button {
    border: none;
    border-radius: 8px;
    background-color: #001F54;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: bolder;
}

form button:hover {
    scale: 0.98;
    cursor: pointer;
}

textarea{width: 100%; margin-bottom: 10px; height: 83px;}
form input{margin-bottom: 9px;}


.icon {
    margin-top: 15px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

