* {
    margin: 0%;
    padding: 0%;
    color: #ffff;
}

html {
    min-height: 100%;
    min-width: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    background: -webkit-linear-gradient(10deg, #1d0047,#00022e,#00214d);
    background: linear-gradient(10deg, #1d0047,#00022e,#00214d);
}

@keyframes star {
    0%, 100% {
        transform: scale(0) translate(0);
    }
    50% {
        transform: scale(1.2) translate(-10px);
    }
}

@keyframes moveupdown {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-5px) scale(0.95); }
}


@font-face {
    font-family: Montserrat-Black;
    src: url(../Fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../Fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

body {
    color: aliceblue;
    font-family: Montserrat-Medium; 
}

.star {float: left;}
.star-size-25{height: 25px; width: 25px;}
.star-size-30{height: 30px; width: 30px;}
.star-size-50{height: 50px; width: 50px; animation: star 5s ease-in-out infinite;}

.star2{margin-left: 1600px;}
.star3{margin-top: -200px; margin-left: 650px;}
.star4{margin-top: -400px;}
.star6 {
    height: 70px;
    width: 70px;
    margin-left: -700px;
}
.star7 {
    width: 90px;
    height: 90px;
    margin-left: 1400px;
    animation: star 3s ease-in-out infinite;
}
.star8 {float: unset; margin-left: 500px;}
.star9{margin-top: 100px;}

.eu {
    animation: moveupdown 2s infinite alternate;
}

span {
    width: 1000px;
}
.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 16px;
    font-family: Montserrat-Medium;
}

.item-active {
    font-size: 20px;
    font-weight: bolder;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    font-weight: bold;
    transition: font-size 500ms linear;
}

main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.title {
    font-family: Montserrat-Black;
    font-size: 55px;
    margin-bottom: 50px;
    align-items: center;
}
.title2 {
    font-family: Montserrat-Black;
    font-size: 40px;
}

.text {
    font-family: Montserrat-Regular;
    font-size: 17px;
    letter-spacing: 1px;
}
